<div class="header-container debug">
  <header class="wrapper clearfix debug">
    <!-- <img src="http://i.imgur.com/hsMeLzq.png" width="320"> -->
  </header>
</div>

<div class="main-container debug">
  <div class="main wrapper clearfix debug">
    <div class="info">
      <form class="playlist-create" action="http://localhost:9393/users/<%=@user%>/playlists" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="genre" placeholder="Genre">
        <input type="text" placeholder="Number of Riders">
        <input type="submit">
      </form>

    </div>
    <h1 class="playlist-index bang stroke fontx3"> <%= @current_user["user_name"] %>'s Playlist</h1>
    <% @playlists.each do |playlist| %>
    <div class="playlist_name animate"><p class="font2 fontxmid opac cent"><a href="http://localhost:9393/users/<%= @user %>/playlists/<%= playlist["id"] %>/play"><font class="bang stroke"><%= playlist["name"] %></a></p></div>
    <%end%>
  </div>

</div>
